#slipToLeft_1, #slipToLeft_2, #slipToLeft_3, #slipToLeft_4 {
    left: 1980px;
    background: gray;
    margin: 0px 0px 0px 0px;
}
body {
    background-color: #4285F4;
    background: -webkit-linear-gradient(left, #ed30a0 0%, #0b86a6 100%);
    background: linear-gradient(to right, #ed30a0 0%, #0b86a6 100%);
}
.morecontent span {
	display: none;
}
.more{
    opacity: 0;
}
.txt {
	font: 68px monospace;
	color: #afafaf;
	font-weight: bold;
    display: inline-block;
}